# Ignore node_modules and dist directories in all subfolders
**/node_modules/
**/dist/

# Ignore logs and log files
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Ignore OS-specific files
.DS_Store

# Ignore test coverage and output directories
**/coverage/
**/.nyc_output/

# Ignore IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Ignore VSCode settings but keep certain files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
